body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: hsl(233, 47%, 7%);
}
h1 {
  font-weight: 700;
  margin-top: 0;
}

h3 {
  font-weight: 700;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 40px;
}

.main-container {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin: 200px auto 20px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 1px #00000024;
  overflow: hidden;
}

.accent {
  color: hsl(277, 64%, 61%);
}

.capitalize {
  text-transform: uppercase;
}

.card-content {
  padding: 60px;
  background-color: hsl(244, 38%, 16%);
}

.card-content h1 {
  color: hsl(0, 0%, 100%);
}

.card-content p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.9rem;
  line-height: 1.4;
}

.stats-container {
  display: flex;
  margin: 0;
}

.card-stats {
  text-align: left;
  padding-right: 90px;
}

.card-stats h3 {
  color: hsl(0, 0%, 100%);
}

.card-stats p {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

.card-image {
  width: 100%;
  background: url(../images/image-header-desktop.jpg) no-repeat;
  background-color: hsl(277, 64%, 61%);
  background-blend-mode: multiply;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

@media (max-width: 900px) {
  .main-container {
    flex-direction: row-reverse;
  }

  .card-image {
    width: 100%;
    background: url(../images/image-header-mobile.jpg);
    background-blend-mode: multiply;
    background-color: hsl(277, 64%, 61%);
    justify-content: center;
    width: 100%;
  }

  .card-content {
    padding: 50px;
    background-color: hsl(244, 38%, 16%);
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }
}
